<mat-card style="text-align:center">
  <form (ngSubmit)="analyseSubmit()" [formGroup]="uploadForm" style="text-align:center">
    <mat-card-content style="text-align:center">
      Select files:
      <input [uploader]="uploader" accept="*/*" formControlName="document" multiple ng2FileSelect type="file"/>
      <br/>
      <br/>
      <br/>
      <table *ngIf="uploader.queue.length != 0" class="center">
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <th>{{ item.file.name}}</th>
          <th class="text-center">
            <mat-icon (click)="item.remove()">delete</mat-icon>
          </th>
        </tr>
        </tbody>
      </table>
      <br>
      <button [disabled]="!uploadForm.valid || uploader.queue.length == 0" color="accent" mat-raised-button type="submit">Analyse</button>
    </mat-card-content>
  </form>
</mat-card>

<div class="panel panel-primary" *ngIf="results">
  <div class="panel-heading" style="text-align:center">
    <h2>Results</h2>
  </div>

  <mat-list style="width: 30%">
    <div *ngFor="let map of results | keyvalue">
      <mat-expansion-panel style="margin-bottom: 15px">
        <mat-expansion-panel-header>
          <mat-list-item>
            <h4>{{map.key}}</h4>
          </mat-list-item>
        </mat-expansion-panel-header>
        <mat-list style="margin-left: 30px">
          <div *ngFor="let word of map.value | keyvalue">
            <mat-list-item>
              <p mat-line> {{word.key}}: {{word.value}}</p>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
    </div>
  </mat-list>
</div>
